.App {
  text-align: center;
}

:root {
  --greenish: #008d45;
  --yellowish: #dec08c;
  --redish: #a43e32;
}

@font-face {
  font-family: Lustria;
  src: url(./assets/fonts/Lustria-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}
